# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/





# Environment variables & secrets (CRITICAL)
.env
.env.*
!.env.example

# Testing & Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# FastAPI / Uvicorn / Logs
*.log
logs/

# IDEs & Code Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store


